// クリアフィックス用
@mixin clearfix() {
  &::after {
    content: '';
    display: block;
    clear: both;
  }
}

// TOPページボタン用
@mixin top-btn() {
  width: 200px;
  font-size: 30px;
  border-radius: 4px;
}

@mixin top-link-caption() {
  text-decoration: none;
  color: white;
}

// 新規アカウント・ログイン画面用
@mixin box-size() {
  height: 520px;
  width: 980px;
  border: solid 1px black;
  margin: 0 auto;
  padding: 25px;
}

// 新規アカウント・ログインタイトル部分用
@mixin caption-box() {
  width: 50%;
  float: left;
  padding-left: 10px;
}

@mixin caption-font() {
  font-size: 50px;
  font-weight: bold;
}

@mixin detail-set() {
  padding-top: 10px;
  font-size: 20px;
  text-align: right;
}

// 新規アカウント・ログイン画面情報入力用
@mixin name-caption() {
  font-size: 20px;
  font-weight: bold;
}

@mixin input-bar() {
  height: 40px;
  width: 400px;
  padding-left: 5px;
}

@mixin submit-btn() {
  height: 50px;
  width: 300px;
  font-size: 25px;
  color: white;
  font-weight: bold;
}

// 新規アカウント・ログイン用移動リンク
@mixin account-link-btn() {
  height: 40px;
  width: 100px;
  padding-top: 5px;
  background-color: $basic-gray;
  border: 2px solid black;
  text-align: center;
}

@mixin account-link-text() {
  text-decoration: none;
  color: blue
}

// 全新規投稿・編集ページ共通部分
@mixin new-actionform-title() {
  padding-left: 30px;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
  display: flex;
}

@mixin required-exterior() {
  border: solid 1px orangered;
  background-color: orangered;
  border-radius: 3px;
  height: 30px;
  width: 50px;
  text-align: center;
  color: white;
  margin-left: 10px;
}

@mixin any-exterior() {
  border: solid 1px gray;
  background-color: gray;
  border-radius: 3px;
  height: 30px;
  width: 50px;
  text-align: center;
  color: white;
  margin-left: 10px;
}

@mixin text-form() {
  height: 40px;
  width: 600px;
  border: 2px solid $basic-gray;
  border-radius: 3px;
  padding: 3px;
}

@mixin text-area-box() {
  height: 100px;
  width: 600px;
  border: 2px solid $basic-gray;
  border-radius: 3px;
  padding: 3px;
}

@mixin submit-exterior() {
  height: 40px;
  width: 200px;
  border: 2px solid orangered;
  background-color: orangered;
  font-size: 20px;
  color: white;
}

@mixin return-exterior() {
  margin: 0 auto;
  height: 40px;
  width: 200px;
  border: 2px solid $basic-gray;
  background-color: $basic-gray;
  font-size: 20px;
}

@mixin return-text() {
  text-decoration: none;
  color: white;
}

// 店舗情報編集ページ用
@mixin edit-page-btn() {
  height: 30px;
  width: 63px;
  background-color: white;
  text-align: center;
  padding-top: 4px;
  border: 1px solid black;
}

// 店舗情報表示ページ用
@mixin body-bottom-solid() {
  border-bottom: 4px solid $basic-gray;
}

@mixin show-caption() {
  font-size: 25px;
  font-weight: bold;
}

@mixin table-solid() {
  border-collapse: collapse;
  border: solid rgb(250, 220, 220);
}

@mixin show-page-btns {
  height: 40px;
  width: 250px;
  font-size: 25px;
  border-radius: 3px;
  text-align: center;
  margin: 0 auto;
}

// マイページボタン用
@mixin mypage-btn() {
  font-size: 20px;
  height: 40px;
  width: 200px;
  padding-top: 2px;
  text-align: center;
  border-radius: 4px;
}