.menu-box
  = link_to menu_path(menu_url= 1) do
    .menu-box__contents
      .menu-box__contents--photo
        = image_tag "nodata.jpg", width: "150px", height: "100px", class: "menu-photo"
      .menu-box__contents__detail
        .menu-box__contents__detail--name
          生姜焼き定食
        .menu-box__contents__detail--price
          1990円