.restaurant {
  background-color: $basic-gray;
  padding: 15px 0 25px 0;
}

.restaurant-page {
  width: 800px;
  background-color: white;
  margin: 0 auto;
  padding: 10px 0;
}

.restaurant-form {
  height: 50px;
  text-align: center;
  border-bottom: 5px solid $basic-gray;

  &__title {
    padding: 0 10px;
    font-size: 30px;
    font-weight: bold;
  }
}

.restaurant-input {
  padding: 20px 0;

  &__imagebox {
    padding-bottom: 20px;
    border-bottom: 2px solid $basic-gray;

    &--title {
      @include new-actionform-title;
    }

    &--detail {
      font-size: 15px;
      padding: 0 0 10px 50px;
    }

    &__main {
      margin: 0 auto;
      height: 200px;
      width: 600px;
      background-color: $basic-gray;
    }
  }

  &__storename {
    @include new-actionform-exterior;

    &--title {
      @include new-actionform-title;
    }

    &--field {
      padding-left: 70px
    }
  }

  &__genre {
    @include new-actionform-exterior;

    &--title {
      @include new-actionform-title;
    }

    &--field {
      padding-left: 70px;
    }
  }

  &__salse {
    @include new-actionform-exterior;

    &--title {
      @include new-actionform-title;
    }

    &--field {
      padding-left: 70px;
    }
  }
}

.input-required {
  border: solid 1px orangered;
  background-color: orangered;
  border-radius: 3px;
  height: 30px;
  width: 50px;
  text-align: center;
  color: white;
  margin-left: 10px;
}

.text-field__form {
  height: 40px;
  width: 600px;
  border: 2px solid $basic-gray;
  border-radius: 3px;
  padding: 3px;
}

.select-field__form {
  height: 40px;
  width: 300px;
  border: 2px solid $basic-gray;
  border-radius: 3px;
}