// 新規投稿背景部分
.restaurant {
  background-color: $basic-gray;
  padding: 15px 0 25px 0;
}

// 新規投稿入力部分全体
.restaurant-page {
  width: 800px;
  background-color: white;
  margin: 0 auto;
  padding: 10px 0;
}

// 新規投稿入力タイトル部分
.restaurant-form {
  height: 50px;
  text-align: center;
  border-bottom: 5px solid $basic-gray;

  &__title {
    padding: 0 10px;
    font-size: 30px;
    font-weight: bold;
  }
}

// 新規投稿入力フィールド
.restaurant-input {
  padding: 20px 0;

  // 画像投稿部分
  &__imagebox {
    padding-bottom: 20px;
    border-bottom: 2px solid $basic-gray;

    &--title {
      @include new-actionform-title;
    }

    &--detail {
      font-size: 15px;
      padding: 0 0 10px 50px;
    }

    &__main {
      margin: 0 auto;
      height: 200px;
      width: 600px;
      background-color: $basic-gray;
    }

    // 画像投稿機能JS用
    #image-field {
      display: flex;
    }

    #previews {
      display: flex;
    }

    .js-file {
      display: none;
    }

    //プレビュー部分
    .js-file_group {
      height: 200px;
      width: 150px;
      background-color: $basic-gray;
      border: 0.5px dashed black;
      position: relative;
    }

    .preview{
      padding: 10px 0 0 10px;
      position: relative;
      z-index: 1;
    }

    .js-remove {
      text-align: center;
      height: 20px;
      width: 130px;
      background-color: white;
    }
  }

  // 必須・任意見出し
  .input-required {
    border: solid 1px orangered;
    background-color: orangered;
    border-radius: 3px;
    height: 30px;
    width: 50px;
    text-align: center;
    color: white;
    margin-left: 10px;
  }

  .input-any {
    border: solid 1px gray;
    background-color: gray;
    border-radius: 3px;
    height: 30px;
    width: 50px;
    text-align: center;
    color: white;
    margin-left: 10px;
  }

  // 投稿フォームバー・セレクトボックス用
  .text-field__form {
    height: 40px;
    width: 600px;
    border: 2px solid $basic-gray;
    border-radius: 3px;
    padding: 3px;
  }

  .text-area__form {
    height: 100px;
    width: 600px;
    border: 2px solid $basic-gray;
    border-radius: 3px;
    padding: 3px;
  }

  .select-field__form {
    height: 40px;
    width: 300px;
    border: 2px solid $basic-gray;
    border-radius: 3px;
  }

  .select-field__time-form {
    height: 40px;
    width: 100px;
    border: 2px solid $basic-gray;
    border-radius: 3px;
  }

  .text-field__address {
    height: 30px;
    width: 350px;
    border: 2px solid $basic-gray;
    border-radius: 3px;
    padding: 3px;
  }

  // テキスト情報入力部分
  &__storename {
    padding: 20px 0;

    &--title {
      @include new-actionform-title;
    }

    &--field {
      padding-left: 70px
    }
  }

  &__details {
    padding: 20px 0;
    border-bottom: 2px solid $basic-gray;

    &--title {
      @include new-actionform-title;
    }

    &--field {
      padding-left: 70px;
    }
  }

  &__genre {
    padding: 20px 0;

    &--title {
      @include new-actionform-title;
    }

    &--field {
      padding-left: 70px;
    }
  }

  &__salse {
    padding: 20px 0;

    &--title {
      @include new-actionform-title;
    }

    &--field {
      padding-left: 70px;
    }
  }

  &__rate {
    padding: 20px 0;

    &--title {
      @include new-actionform-title;
    }
  }

  &__hours {
    padding: 20px 0;

    &--title {
      @include new-actionform-title;
    }

    &__field {
      display: flex;
      padding-left: 70px;

      &--open {
        margin-right: 10px;
      }

      &--caption {
        font-size: 25px;
      }

      &--closed {
        margin-left: 10px;
      }
    }
  }

  &__holiday {
    padding: 20px 0;

    &--title {
      @include new-actionform-title;
    }

    &--field {
      padding-left: 70px;
    }
  }

  &__access {
    padding: 20px 0;
    border-bottom: 2px solid $basic-gray;

    &--title {
      @include new-actionform-title;
    }

    &--field {
      padding-left: 70px;
    }
  }

  // 住所登録部分
  &__address {
    margin: 20px 0 0 80px;
    width: 600px;
    border: 2px solid black;
    display: flex;

    &__left {
      border-right: 2px solid black;

      &--text {
        font-size: 20px;
        padding: 20px 10px 0 10px;
        font-weight: bold;
      }
    }

    &__right {
      padding: 20px 0 20px 15px;

      &__prefecture {
        @include new-actionform-title;

        &--field {
          padding-left: 50px;
        }
      }

      &__city {
        padding-top: 10px;
        @include new-actionform-title;

        &--field {
          padding-left: 50px;
        }
      }

      &__block {
        padding-top: 10px;
        @include new-actionform-title;

        &--field {
          padding-left: 50px;
        }
      }

      &__building {
        padding-top: 10px;
        @include new-actionform-title;

        &--field {
          padding-left: 50px;
        }
      }
    }
  }

  // 投稿ボタン部分
  &__btn {
    padding-top: 10px;
    text-align: center;

    &--post {
      padding-bottom: 10px;
    }

    .submit-btn {
      height: 40px;
      width: 200px;
      border: 2px solid orangered;
      background-color: orangered;
      font-size: 20px;
      color: white;
    }
  }
}