// メニュー新規投稿背景部分
.menu {
  background-color: wheat;
  padding: 15px 0 25px 0;
}

// メニュー新規投稿入力部分全体
.menu-page {
  width: 800px;
  background-color: white;
  margin: 0 auto;
  padding: 10px 0;
}

// メニュー新規投稿入力タイトル部分
.menu-form {
  height: 50px;
  text-align: center;
  border-bottom: 5px solid $basic-gray;

  &__title {
    padding: 0 10px;
    font-size: 30px;
    font-weight: bold;
  }
}

// メニュー新規投稿入力フィールド
.menu-input {
  padding: 20px 0;

  // 必須・任意見出し
  .input-required {
    @include required-exterior;
  }

  .input-any {
    @include any-exterior;
  }

  // テキストエリア部分
  .text-field__form {
    @include text-form;
  }

  .text-area__form {
    @include text-area-box;
  }

  // メニュー画像投稿部分
  &__photobox {
    padding-bottom: 20px;

    &--title {
      @include new-actionform-title;
    }

    &--detail {
      font-size: 15px;
      padding: 0 0 10px 50px;
    }

    &__main {
      margin: 0 auto;
      height: 300px;
      width: 600px;
      background-color: $basic-gray;
    }

    #photo-preview {
      padding-left: 25px;
    }
  }

  &__menuname {
    padding: 20px 0;

    &--title {
      @include new-actionform-title;
    }

    &--field {
      padding-left: 95px;
    }
  }

  &__price {
    padding: 20px 0;

    &--title {
      @include new-actionform-title;
    }

    &--field {
      padding-left: 95px;
    }
  }

  &__details {
    padding: 20px 0;

    &--title {
      @include new-actionform-title;
    }

    &--field {
      padding-left: 95px;
    }
  }

  // メニュー投稿ボタン部分
  &__btn {
    padding-top: 10px;
    text-align: center;

    &--submit {
      padding-bottom: 10px;
    }

    .submit-btn {
      @include submit-exterior;
    }

    &--return {
      @include return-exterior;
    }

    .return-btn {
      @include return-text;
    }
  }
}