.signup {
  padding-top: 30px;

  &__box {
    height: 520px;
    width: 980px;
    border: solid 1px black;
    margin: 0 auto;
    padding: 25px;

    &--loginlink {
      text-align: center;
      margin-top: 50px
    //   height: 40px;
    //   width: 80px;
    //   background-color: gray;
    //   border: 3px solid black;
    }
  }

    &__box__caption {
      width: 50%;
      float: left;
      padding-left: 10px;

      &--title {
        font-size: 50px;
        font-weight: bold;
        border-bottom: 4px solid orange;
      }

      &--detail {
        padding-top: 10px;
        font-size: 20px;
        text-align: right;
      }
    }

  &__box__form {
    width: 50%;
    float: right;
    padding: 30px 0 0 70px;

    &--field {
      margin-bottom: 20px;

      .field-name {
        font-size: 20px;
        font-weight: bold;
      }

      .form-input {
        height: 40px;
        width: 400px;
        padding-left: 5px;
      }
    }

    &--actions {
      margin-top: 30px;
      text-align: center;

      .action-btn {
        height: 50px;
        width: 300px;
        font-size: 25px;
        border: 3px solid orange;
        background-color: orange;
        color: white;
        font-weight: bold;
      }
    }
  }
}