.signup {
  padding-top: 30px;

  &__box {
    height: 520px;
    width: 980px;
    border: solid 1px black;
    margin: 0 auto;
    padding: 25px;

  // アカウントページタイトル部分
    &__caption {
      width: 50%;
      float: left;
      padding-left: 10px;

      &--title {
        font-size: 50px;
        font-weight: bold;
        border-bottom: 4px solid orange;
      }

      &--detail {
        padding-top: 10px;
        font-size: 20px;
        text-align: right;
      }
    }

  // ログインページ移動ボタン
    &__login {
      margin-top: 50px;

      &--text {
        margin-bottom: 20px;
      }

      &--link {
        margin-left: 30px;
      }
    }

  // アカウントページ情報入力部分
    &__form {
      width: 50%;
      float: right;
      padding: 30px 0 0 70px;

      &--field {
        margin-bottom: 20px;

        .field-name {
          font-size: 20px;
          font-weight: bold;
        }

        .form-input {
          height: 40px;
          width: 400px;
          padding-left: 5px;
        }
      }

    // アカウント作成ボタン部分
      &--actions {
        margin-top: 30px;
        text-align: center;

        .action-btn {
          height: 50px;
          width: 300px;
          font-size: 25px;
          border: 3px solid orange;
          background-color: orange;
          color: white;
          font-weight: bold;
        }
      }
    }
  }
}